@font-face {
    font-family: 'Aviny';
    src: url('fonts/aviny.otf') format('otf'),
     url('fonts/aviny.ttf') format('truetype'),
     url('fonts/avinyweb.woff') format('woff'),
     url('fonts/avinyweb.woff2') format('woff2');
} 
*{
    font-family: 'Aviny', 'Tahoma';
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body{
    font-size: 22px;

    width: 100vh;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg,#2ecc71,#16a085);
}
.clock{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 250px;
    border: 10px solid #000;
    background-color: #fff;
    overflow: hidden;
}
.clock::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(240deg,rgba(35, 227, 255, 0.40) 50%,rgba(163, 62, 62, 0.35) 50%);
    top: 0;
    
    left: 0;
}
.clock::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height:15px;
    background-color: rgba(0, 0, 0, 0.89);
    border-radius: 50%;
    transform: translate(-50%,-50%);
}
.num{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding: 15px;
}
.num:after{
    position: absolute;
    content: '';
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 5px;
    height: 15px;
    background-color: #000;
}
.num1
{
    transform: rotate(30deg);
}
.num1 div
{
    transform: rotate(-30deg);
}

.num2
{
    transform: rotate(60deg);
}
.num2 div
{
    transform: rotate(-60deg);
}

.num3
{
    transform: rotate(90deg);
}
.num3 div
{
    transform: rotate(-90deg);
}

.num4
{
    transform: rotate(120deg);
}
.num4 div
{
    transform: rotate(-120deg);
}

.num5
{
    transform: rotate(150deg);
}
.num5 div
{
    transform: rotate(-150deg);
}

.num6
{
    transform: rotate(180deg);
}
.num6 div
{
    transform: rotate(-180deg);
}

.num7
{
    transform: rotate(210deg);
}
.num7 div
{
    transform: rotate(-210deg);
}

.num8
{
    transform: rotate(240deg);
}
.num8 div
{
    transform: rotate(-240deg);
}

.num9
{
    transform: rotate(270deg);
}
.num9 div
{
    transform: rotate(-270deg);
}

.num10
{
    transform: rotate(300deg);
}
.num10 div
{
    transform: rotate(-300deg);
}

.num11
{
    transform: rotate(330deg);
}
.num11 div
{
    transform: rotate(-330deg);
}

.num12
{
    transform: rotate(360deg);
}
.num12 div
{
    transform: rotate(-360deg);
}
.hand {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
.hand div{
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(0, 0, 0);
}
.sec{
    width: 1px;
    height: 40%;
}
.min{
    width: 3px;
    height: 30%;
    border-radius: 2px;
}
.hour{
    width: 4.5px;
    height: 24%;
    border-radius: 4px;
}
/*--------------------------login */

.center{
    font-size: 55px;
    float: right;
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(-50%,-50%);
}
.center.actives{
    opacity: 0;
}
.center > button{
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    color: #f5f5f5;
    background:#00000070 ;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius:5px ;
    transition:top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms ;
}
.popup{
    position: absolute;
    top: -150%;
    right: 10%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    transition:top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms ;
    background-color: #00000080;
}
.popup.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition:top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms ;
    
}
.popup .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    align-items: center;
    width: 15px;
    height: 15px;
    background: #88888800;
    color: #eee;
    display:flex;
    justify-content: center;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.popup .close-btn > span{
    text-align: center;
    display:flex;
    justify-content: center;
    text-align: center;
align-items: center;
    color: #eee;
    
}
.popup .form h2{
    text-align: center;
    color: #eee;
    margin: auto;
    font-size: 55px;

}
.popup .form .form-eleman{
    margin: 15px 0;
    color: #f5f5f5;
}
.popup .form .form-eleman  > label{
    font-size: 14px;
    color: #eee;
    margin: auto;
}
.popup .form .form-eleman > input[type="text"],
.popup .form .form-eleman > input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 5px;
    font-size: 22px;
    outline: none;
    color: #eee;
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 5px;

}
.popup .form .form-eleman > input[type="checkbox"]{
    margin-left: 5px;
    
}
.popup .form .form-eleman > button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    background: #222;
    color: #f5f5f5;
    border-radius: 10px;
    cursor: pointer;

}
.popup .form .form-eleman > a{
    display: block;
    text-align: left;
    font-size: 15px;
    color: #f5f5f5;
        text-decoration: none;
    font-weight: 600;

}
